<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculator</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    
    <input type="text" id="display" v-model="result" disabled>
    
        <button v-for="button in buttons" :key="button.value" @click="handleClick(button)">
            {{ button.label }}
          </button>
    
          <!-- <label class="casio"> Casio </label> -->
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="main.js"></script>
</body>
</html>